.dynapuff-<uniquifier> {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@font-face {
  font-family: 'CustomFont';
  src: url('fonts/customfont.woff') format('woff'),
       url('fonts/customfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(177, 98, 111);
}

h1 {
  font-family: "DynaPuff", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; 
  color: #730002;
  font-weight: bold;
}

h3 {
  font-family: "CustomFont", sans-serif;
  color: #730002;
  font-weight: 700;
  margin-top: 2rem;
}

.todolist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10vh;
  left: 10vw;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 30px;
  background-attachment: fixed;
  height: 85vh;
  width: 75vw;
  overflow-y: auto;
  flex-wrap: nowrap;
}

.ask {
  width: 50%;
}

.tasks {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.box {
  display: flex;
  justify-content: space-between;
  background-color: rgba(253, 212, 213, 0.8);
  border-radius: 30px;
  padding: 0 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

button {
  border: 0;
  background-color: unset;
}

button:hover {
  background-color: rgba(255, 192, 203, 0.5);
}

.icon-container {
  text-wrap: nowrap;
}
.icon {
  width: 20px;
  height: 20px;
  margin: 1.3vh 0;
  fill: white;
}

.bunny-bottom {
  width: 100px;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.bunny-side {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

@media screen and (max-width: 650px) {
  .bunny-side {
    width: 300px;
    top: 10vh;
    left: 5vw;
  }
  
  .box {
    width: 75%;
  }

  .tasks{
    width: 80%;
  }
  .icon {
    width: 10px;
    margin: 2vh 0;

  }
}
